@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

body{
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}


.resume{
	width: 10in;
	height: 14.15in;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	
	display: flex;
	-webkit-box-shadow: 0 0 80px rgb(189, 181, 181);
        box-shadow: 80 80 80px rgb(212, 210, 210);
}
.tow-horizontal-line-hold-image{
	display: flex;
}
.line-1-img{
	width: 3px;
	height: 100px;
	background-color: black;
	margin-left: 110px;
}
.line-2-img{
	width: 3px;
	height: 100px;
	background-color: black;
	margin-left: 70px;
}
.name-imag-design{
  width: 300px;
  margin-top: -100px;
}
.name-role{
	margin-top: 130px;
	margin-left: 50px;
	position: absolute;
	z-index: 2;
	letter-spacing: 2px;
  }
  .name{
	  font-size: 45px;
	  font-weight: bold;
	 
  }
  .f-name{
	  margin-right: 5px;
  }
  .last-name{
	  color:rgb(0, 0, 0);
  }
  .role{
	font-size: 18px;
	font-weight: bold; 
	letter-spacing: 2px;
  }
.design-yellow{
	position: absolute;
	z-index: 1;
	width:220px;
	height: 220px;
	background-color: rgb(255, 255, 255);
	margin-top: -100px;
	margin-left: 40px;
	
}
.name_image{
	width: 300px;
	height: 600px;
	padding-bottom: 300px;
	background-color: rgb(255, 197, 229);
	margin-top: 200px;
	height: 140px;
}

.left{
	background: #fffffff5;
	width: 320px;
	align-items: center;
	
}
.contact-box{
	width:285px;
	margin-top: -100px;
	margin-left: -10px;
	margin-right: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
}
.c-type-icon{
	display: flex;
	margin-bottom: 10px;
}
.contact-type{
	margin-left: 35px;
	margin-top: 125px;
}
.c-type-name{
	font-size: 10px;
	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 2px;
	margin-right: 5px;
}
.c-icon{
	width: 40px;
	margin-right: 10px;
}
.c-detail{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}
.c-detail a{
	text-decoration: none;
	color:black;

}
.c-detail a:hover{
	text-decoration: underline;
}
.education-box{
	width:285px;
	
	margin-left: 15px;
	margin-right: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
}
.con-title{
	font-size: 14px;
	color:black;
	text-align: center;
	padding-top:4px;
	margin-bottom: 15px;
	margin-left: -25px;
	font-weight: bolder;

}

.title-color{
	width:100px;
	height: 10px;
	background-color: rgb(255, 197, 229);
	margin-left: 85px;
	margin-top: -8px;
}
.edu-title{
	font-size: 14px;
	color:black;
	text-align: center;
	padding-top:4px;
	margin-bottom: 15px;
	margin-left: -65px;
	font-weight: bolder;
}
.edu-color{
	width:95px;
	margin-left: 125px;
}
.hob-color{
	width:75px;
	margin-left: 155px;
}
.lang-color{
	width:85px;
	margin-left: 138px;
}
.d_name_collage{
  margin-left: 10px;
}
.edu-deg-yr{
	display: flex;
}
.d_name{
	font-size: 14px;
	color:black;
	font-weight: bold;
	width: 250px;
}
.year{
	font-size: 14px;
	font-weight: 600;
	margin-right: 4px;
	margin-top: 3px;
	margin-left:-90px
}
.edu-clg-cg{
 
  margin-top: 5px;
}
.clg_name{
	margin-right: 5px;
	font-size: 12px;
	font-weight: 700;
}
.cgpa{
	font-size: 10px;
	font-weight: bold;
	margin-top: 4px;
	width:100px;
}
.edu-line{
	height: 4px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(255, 197, 229);
	border-radius: 5px;
}

.skill-or-lang-box{
	width:285px;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
}
.skill-or-lang-title{
	font-size: 14px;
	color:black;
	text-align: center;
	padding-top:4px;
	margin-bottom: 8px;
	font-weight: 700;
	margin-left: -75px;

}
.skill-or-lang_level{
	margin-left: 10px;
}
.skill-or-lang_level{
	margin-bottom: 10px;
}
.skill-or-lang_name{
	font-size: 12px;
	color: #000000;
	padding-bottom: 5px;
	font-weight: 700;
}
.level{
  width: 200px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid 1px rgb(245, 188, 245);
}
.sk-level{
	width: 100px;
}

.level_marker_25{
	width: 50px;
	height: 10px;
	background-color:  rgb(255, 197, 229);
	position: relative;
	margin-top: -9.8px;
	border-radius:10px;
	
}
.sk-level-25{
	width: 25px;
}

.level_marker_50{
	width: 100px;
	height: 10px;
	background-color:  rgb(255, 197, 229);
	
	margin-top: -9.8px;
	border-radius:10px;
	
	
}
.sk-level-50{
	width: 25px;
}
.level_marker_75{
	width: 75px;
	height: 10px;
	background-color:  rgb(255, 197, 229);
	position: relative;
	margin-top: -10px;
	border-radius:10px;
	
	
}
.sk-level-75{
	width: 25px;
}
.level_marker_100{
	width: 190px;
	height: 10px;
	background-color:  rgb(255, 197, 229);
	position: relative;
	margin-top: -10px;
	border-radius:10px;
	
	
}
.sk-level-100{
	width: 95px;
}
.hobby-box{
	margin-top: 20px;
}
.hob-row{
	display: flex;
	margin-top: 20px;
}
.hob-icon{
	width: 40px;
	height: 40px;
	margin-left:25px;
	color: rgb(255, 197, 229);
	border: solid 1px black;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
}
.lnaguage-design{
	width:280px;
	height: 200px;
	
	margin-top: 15px;
	margin-left: 20px;
}
.lang-title{
	color:rgb(0, 0, 0);
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 700;
}



.right{
	width: calc(100% - 250px);
	margin-left: 20px;
}

 /* .image_circle .img_holder{
	margin-top: -30px;
	
} */


.left .img_holder img{
	width: 200px;
	height: 200px;
    margin:10px;
	
}
.title_left{
	border: solid 1px #b4bac5;
	height: 30px;
	margin-right: 20px;
	text-align: center;
	color: #d9e2f1;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 3px;
	width: 200px;
	text-transform: uppercase;
}

.pb{
	padding-bottom: 20px;
}

.about_me{
	padding-bottom: 20px;
	margin-right: 10px;
}
 .about{
	margin-left: 20px;
	line-height: 24px;
	font-size: 12px;
	text-align: justify;
	margin-right: 45px;
	font-weight: 600;
	
}

.right_inner{
	margin-top: 40px;
	color: #292b2f;
	
}
.right_title{
	font-size: 14px;
	color:rgb(8, 8, 8);
	font-weight: bolder;
	margin-left: 20px;
}
.underline{
	height: 10px;
	background-color: rgb(255, 197, 229);
	opacity: 0.4;
	margin-top: -8px;
}
.un-work{
	width:140px;
	margin-left: 12px;
}
.un-project{
	width:80px;
	margin-left: 12px;
}
.un-ac{
	width:120px;
	margin-left: 12px;
	margin-bottom: 10px;
}
.un-profile{
	width:70px;
	margin-left: 12px;
}
.un-ref{
	width:100px;
	margin-left: 12px;
}
.un-skill{
	width:60px;
	margin-left: 12px;
	margin-bottom: 10px;
}
.sk-title{
	margin-top: -2px;
}
.skill-row{
	display: flex;
}
.section_design{
	
	display: flex;
	
	
}



.detail_section{
	margin-left: 20px;
}
.job_title_company{
	margin-bottom: 10px;
	margin-top: 15px;
}
.sub_title{
	font-size: 14px;
	color:rgb(0, 0, 0);
	font-weight: bold;
	
}
.sub_title a{
	color: #292b2f;
	text-decoration: none;
}
.sub_title a:hover{
	text-decoration: underline;
	color: rgb(255, 197, 229);
}
.company-yr{
	display: flex;
	margin-top: 5px;
}
.yr-ex{
	font-size: 12px;
	margin-left: 60px;
	font-weight: 600;
}
.company{
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;

}
.detail{
	font-size: 12px;
	text-align: justify;
	margin-right: 45px;
	line-height: 24px;
	font-weight: 600;

}
.margin_section{
	margin-top: 20px;
}


.achivement_name{
	font-size: 14px;
	margin-top: -10px;
	color: rgb(0, 0, 0);

}
.ac-name{
	margin-right: 5px;
}
.achivement_star{
	height: 25px;
	width: 25px;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color:rgb(255, 197, 229);
	margin-left: 20px;
}
.re_row{
	display: flex;
	justify-content: space-between;
	margin-left:20px;
	margin-right: 45px;
	margin-top: 20px;

}
.re_name{
	font-size: 14px;
	color:rgb(0, 0, 0);
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 4px;
}
.re_designation{
	font-size: 14px;
	color:rgb(0, 0, 0);
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 4px;
	font-weight: 600;
}
.re_company{
	font-size: 14px;
	color:rgb(0, 0, 0);
	margin-bottom: 4px;
	font-weight: 600;
}
.re_gmail a{
	text-decoration: none;
	font-size: 12px;
	color:rgb(0, 0, 0);
}
.re_gmail a:hover{
  text-decoration: underline;
  color:rgb(255, 197, 229);
  font-weight: 600;
}
.right_inner .subjectArea{
	margin-top: 30px;
}

.bottom-color{
	width: 10in;
	height: 50px;
	margin-left:auto;
	margin-right: auto;
	background-color: rgb(255, 197, 229);
	margin-top: -50px;
}

.l-bottom-color{
	height: 50px;
	width:320px;
	background-color: rgb(255, 197, 229);
	margin-top: 126px;
}